#tre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#seks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
}

form {
    background-color: lightsteelblue;
    width: fit-content;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    border: 2px solid black;
}

form, input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}


table, th, td {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

table {
    background-color: lightsteelblue;
}

th{
    background-color: white;
}

tr:nth-child(even) {
    background-color: #e0dfdf;
}

tr:nth-child(odd) {
    background-color: white;
}

button {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}